{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <i><h2>{{ flatpage.content }}</h2></i>
    <i><h2>{{ flatpage.content }}</h2></i>
    <hr>
    <h3>Презентация:</h3>

<h2 style="text-align: center;"><span style="text-align: center; color: #0000ff;">Привествуем вас на пробовой странице</span></h2>
<p style="text-align: center;"><span style="text-align: center; color: #0000ff;">
    <img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" width="94" height="94" /></span></p>
{% endblock content %}